{% extends 'store/main.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    
        <div class="row">
            <div class="col-lg-6">
                <div class="box-element" id="form-wrapper">
                    <form action="" id="form">
                        <div class="user-info">
                            <div class="form-field">
                                <input type="text" name="name" class="form-control" placeholder="Nome..." required >
                            </div>
                            <div class="form-field">
                                <input type="email" name="email" class="form-control" placeholder="Email..." required >
                            </div>
                        </div>
                        <div id="shipping-info">
                            <hr>
                            <p>Informações de envio:</p>
                            <div class="form-field">
                                <input type="text" name="endereco" class="form-control" placeholder="Endereço...">
                            </div>
                            <div class="form-field">
                                <input type="text" name="cidade" class="form-control" placeholder="Cidade...">
                            </div>
                            <div class="form-field">
                                <input type="text" name="estado" class="form-control" placeholder="Estado...">
                            </div>
                            <div class="form-field">
                                <input type="text" name="Código Postal" class="form-control" placeholder="Código postal...">
                            </div>
                            <div class="form-field">
                                <input type="text" name="pais" class="form-control" placeholder="País...">
                            </div>
                        </div>
                        <input type="submit" id="form-button" class="btn btn-success btn-block" value="Continue">
                    </form>
                </div>
                <br>
                <div class="box-element hidden" id="payment-info">
                    <small>Opções de Pagamento</small>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="box-element">
                    <a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
                    <hr>
                    <h3>Resumo da ordem</h3>
                    <hr>
                    <div class="cart-row">
                        <div style="flex:2"><img class="row-image" src="{% static 'images/placeholder.png' %}"></div>
                        <div style="flex:2"><p>Produto 1</p></div>
                        <div style="flex:1"><p>$20.00</p></div>
                        <div style="flex:1"><p>x2</p></div>
                    </div>
                    <h5>Itens:   2</h5>
                    <h5>Total:   $4</h5>
                </div>
            </div>
        </div>

    {% endblock content %}

</body>
</html>