{% extends 'store/main.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Document</title>
</head>
<body>
    {% block content %}
        <div class="row">
            <div class="col-lg-4">
                <img src="{% static 'images/placeholder.png' %}" alt="" class="thumbnail">
                <div class="box-element product">
                    <h6><strong>Produto</strong></h6>
                    <hr>

                    <button class="btn btn-outline-secondary add-btn">Adicionar ao carrinho</button>
                    <a class="btn btn-outline-success" href="">Ver</a>
                    <h4 style="display: inline-block; float:right"><strong>R$20</strong></h4>
                </div>
            </div>
            
            <div class="col-lg-4">
                <img src="{% static 'images/placeholder.png' %}" alt="" class="thumbnail">
                <div class="box-element product">
                    <h6><strong>Produto</strong></h6>
                    <hr>

                    <button class="btn btn-outline-secondary add-btn">Adicionar ao carrinho</button>
                    <a class="btn btn-outline-success" href="">Ver</a>
                    <h4 style="display: inline-block; float:right"><strong>R$20</strong></h4>
                </div>
            </div>
            <div class="col-lg-4">
                <img src="{% static 'images/placeholder.png' %}" alt="" class="thumbnail">
                <div class="box-element product">
                    <h6><strong>Produto</strong></h6>
                    <hr>

                    <button class="btn btn-outline-secondary add-btn">Adicionar ao carrinho</button>
                    <a class="btn btn-outline-success" href="">Ver</a>
                    <h4 style="display: inline-block; float:right"><strong>R$20</strong></h4>
                </div>
            </div>
        </div>  
    {% endblock content %}
    
</body>
</html>